body{
    margin: 0;
    padding: 0;
    background-image: url(comp.jpeg);
   
    display: flex;
    background-position: centers ;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
      background-size: cover;
      font-family: poppins;
}
#header {
  position: sticky;
    z-index: 10;
    left: 0;
    top: 0px;
    width: 240vh;
    height: 70px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    background: rgba(10, 10, 10, 0.836);
}
#header nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color:transparent !important;
  padding-left: 30px;
}

.brand h1{
  font-size: 1.5rem;
  text-transform: uppercase;
  color: whitesmoke;
}
.brand h1 span{
  color:  crimson;
}
.wrap{
    width: 400px;
    height: 540px;
    background: rgba(51, 50, 50, 0.801);
    top: 56%;
    left: 50%;
    padding: 70px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    
    box-shadow: 8px 8px 50px rgb(15, 15, 15);
}
h2{
  margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 8%;
    font-family: courgette;
    color: #fff;
}
input[type=text],input[type=password],input[type=tel]{
  border: none;
  width: 100%;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 15px;
  font-size: 18px;
  opacity: 3;
  color: #fff;
}
input{
  width: 100%;
  margin-bottom: 10%;
  display: block;
  }
input[type=submit]{
  border: none;
    outline: none;
    box-sizing: border-box;
    padding: 10px 0;
    border-radius: 20px;
    
    background: crimson;
    background: linear-gradient(crimson, rgb(58, 37, 37));
    font-size: 16px;
    font-weight: bold;
}

input[type=submit]:hover{
  background: crimson;
  opacity: 1;
}
input[type=button]{
  color: black;}

.wrap .message{
    margin :15px 0 0;
    color: palevioletred;
    font-size: 12;
  }

  .wrap .message button{
    color: whitesmoke;
    border-style: none;
    background-color: transparent !important;
    text-decoration: none;
  } 

  #overlyArea{
    position: absolute;
    background-color: rgba(0, 0, 0,0.5);
    z-index: -5;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
  } 

  
  @media screen and (min-width:640px){
    body{
      overflow-x: hidden;
    }
    img{
      height: 500;
      width: 333;
      object-fit: none;
    }

} 
@media screen and (max-width:1024px){
    body{
        height: 100vh;
    }
} 



